<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
학생마이페이지<br />
학생번호 : [[${studentCommand.studentNum}]]<br />
학과 : [[${studentCommand.departmentName}]]<br />
아이디 : [[${studentCommand.studentId}]]<br />
학생이름 : [[${studentCommand.studentName}]]<br />
학생연락처 : [[${studentCommand.studentPhone}]]<br />
학생이메일 : [[${studentCommand.studentEmail}]]<br />
<a href="stupageModify">학생 정보 수정</a>
<a href="stupagePwModify">학생 비밀번호 수정</a>
<a href="/">메인</a>
</body>
</html>