<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#leftMenu {
    float:left;
    margin-right:50px;
    height : 500px;
}
#empInfo {
	float:left;
	padding:15px;
	padding-left:50px;
	border-left:1px solid gray;
	height : 500px;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>
</head>
<body>
<div id="leftMenu">
	<ul>
		<li><a href="empDetail">내 정보 보기</a></li>
		<li><a href="empModify">내 정보 수정</a></li>
		<li><a href="empPwUpdate">비밀번호 수정</a></li>
	</ul>
</div>

<div id ="empInfo">
수정페이지 <br />
<form action="empUpdate" method="post" th:object="${employeeCommand}">
아이디 :  <input type="text" name="empId" 
			th:value="${employeeCommand.empId}" readonly = "readonly"/>
		<span th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}" style="color:red"></span><br />
이름 : <input type="text" name="empName" 
			th:value="${employeeCommand.empName}"/>
	<span th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}" style="color:red"></span><br />
주소 : <input type="text" name="empAddr" 
			th:value="${employeeCommand.empAddr}"/>
	<span th:if="${#fields.hasErrors('empAddr')}" th:errors="*{empAddr}" style="color:red"></span><br />
핸드폰번호 : <input type="text" name="empPhone" 
			th:value="${employeeCommand.empPhone}"/>
		<span th:if="${#fields.hasErrors('empPhone')}" th:errors="*{empPhone}" style="color:red"></span><br />
이메일 : <input type="email" name="empEmail" 
			th:value="${employeeCommand.empEmail}"/>
		<span th:if="${#fields.hasErrors('empEmail')}" th:errors="*{empEmail}" style="color:red"></span><br />
<input type="hidden" name="empPw" value="12345" /><br />
<input type="hidden" name="empPwCon" value="12345" /><br />
<input type="submit" value="수정완료"/>
</form>
</div>
</body>
</html>