<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
교수마이페이지<br />
교수번호 : [[${professorCommand.professorNum}]]<br />
학과번호 : [[${professorCommand.departmentNum}]]<br />
아이디 : [[${professorCommand.professorId}]]<br />
교수이름 : [[${professorCommand.professorName}]]<br />
교수연락처 : [[${professorCommand.professorPhone}]]<br />
교수이메일 : [[${professorCommand.professorEmail}]]<br />
<a href="profpageModify">교수 정보 수정</a>
<a href="profpagePwModify">교수 비밀번호 수정</a>
<a href="/">메인</a>
</body>
</html>