<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#professorEmail").keyup(function(){
		$.ajax({
			type : "post",
			url : "emailCheckModify",
			dataType : "text",
			data : {"professorEmail": $("#professorEmail").val(), "professorId" : "[[${professorCommand.professorId}]]"},
			success: function(result) {
				$("#emailCheckModify").html(result);
				if(result == "사용 가능한 email 입니다."){
					$("#emailCheckModify").css("color", "blue");
				}else{
					$("#emailCheckModify").css("color", "red");
				}
			},
			error : function() {
				alert('에러');
				return;
			}
		});
	});
});
</script>
</head>
<body>
<form action="profUpdate" id="frm" name="frm" method="post" th:object="${professorCommand}">
<table>
<tr><th>교수번호</th><td><input type="text" name="professorNum" id="professorNum" readonly="readonly" th:value="${professorCommand.professorNum}"/>
<span th:if="${#fields.hasErrors('professorNum')}" th:errors="*{professorNum}"></span></td></tr>
<tr><th>학과번호</th><td>
<select id="departmentNum" name="departmentNum" th:object="${professorCommand.departmentNum}" th:value="${professorCommand.departmentNum}">
	<th:block th:each = "aaa, idx : ${list}">
		<option th:value="${aaa.departmentNum}" th:selected= "${aaa.departmentNum} == ${professorCommand.departmentNum}>[[${aaa.departmentName}]]</option>
	</th:block>
</select>
<span th:if="${#fields.hasErrors('departmentNum')}" th:errors="*{departmentNum}"></span></td></tr>
<tr><th>아이디</th><td><input type="text" name="professorId" id="professorId" readonly="readonly" th:value="${professorCommand.professorId}" />
<span th:if="${#fields.hasErrors('professorId')}" th:errors="*{professorId}"></span></td></tr>
<tr><th>교수이름</th><td><input type="text" name="professorName" id="professorName" th:value="${professorCommand.professorName}" />
<span th:if="${#fields.hasErrors('professorName')}" th:errors="*{professorName}"></span></td></tr>
<tr><th>교수연락처</th><td><input type="tel" name="professorPhone" id="professortPhone" th:value="${professorCommand.professorPhone}" />
<span th:if="${#fields.hasErrors('professorPhone')}" th:errors="*{professorPhone}"></span></td></tr>
<tr><th>교수이메일</th><td><input type="email" name="professorEmail" id="professorEmail" th:value="${professorCommand.professorEmail}" />
<span id = "emailCheckModify"></span>
<span th:if="${#fields.hasErrors('professorEmail')}" th:errors="*{professorEmail}"></span></td></tr>
<tr><th colspan="2"><input type="submit" value="완료"/></th></tr>
</table>
<input type="hidden" id = "professorPw" name="professorPw" value="123456" /><br />
<input type="hidden" id = "professorPwCon" name="professorPwCon" value="123456" /><br />
</form>
</body>
</html>