<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script>
$(function(){
	$("#update").click(function(){
		location.href="libDelete?libNum=[[${dto.libNum}]]&libPw="+$("#libPw").val()
	});
});
</script>
</head>
<body>
상세페이지<br />
글번호 || ip 주소 : [[${dto.libNum}]] || [[${dto.ipAddr}]]<br />
제목 : [[${dto.libSubject}]]<br />
글쓴이 : [[${dto.libWriter}]]<br />
내용 : [[${dto.libContent}]]<br />
<form action = "emplibModify" method="post" id= "frm">
<input type="hidden" name = "libNum" th:value="${dto.libNum}" />
게시글 비밀번호 : <input type = "password" name="libPw" id="libPw" required = "required" />
<span th:if="${err_pw != null}" th:text="${err_pw}" style = "color:red"></span><br />
파일 : <br />
[[${dto.originalFileName}]]<br />
[[${dto.storeFileName}]]<br />
[[${dto.fileSize}]]<br />
<div th:each="file,idx : ${#strings.arraySplit(dto.originalFileName, '`')}">
	<!-- 
	<a th:href="|/empLib/${#strings.arraySplit(dto.storeFileName, '`')[idx.index ]}|">
	[[${file }]]
	</a> |  -->
	
	<a th:href = "@{fileDown(sfile=${#strings.arraySplit(dto.storeFileName,'`')[idx.index]}, ofile=${file})}">[[${file}]]</a>
	
	<!--  -->
	[[${#strings.arraySplit(dto.storeFileName, '`')[idx.index] }]] | 
	[[${#strings.arraySplit(dto.fileSize, '`')[idx.index ]}]] Byte | 
	[[${#numbers.formatInteger(#strings.arraySplit(dto.fileSize, '`')[idx.index ], 0, 'COMMA')}]]
</div>

<input type="submit" value="수정"/>
<input type="button" value="삭제"  id="update"/>
</form>
<a href="emplibList">게시글 리스트</a> 
</body>
</html>