<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#studentEmail").keyup(function(){
		$.ajax({
			type : "post",
			url : "emailCheckModify",
			dataType : "text",
			data : {"studentEmail": $("#studentEmail").val(), "studentId" : "[[${studentCommand.studentId}]]"},
			success: function(result) {
				$("#emailCheckModify").html(result);
				if(result == "사용 가능한 email 입니다."){
					$("#emailCheckModify").css("color", "blue");
				}else{
					$("#emailCheckModify").css("color", "red");
				}
			},
			error : function() {
				alert('에러');
				return;
			}
		});
	});
});
function selectDepNum() {
	   $.ajax({
	      type : "post",
	      dataType: "text",
	      data: {"departmentNum" : $('#departmentNum').val()},
	      url: "depNum",
	      success : function(result){
	         $('#studentNum').val(result);
	      },
	      beforeSend: function() {
	            if($("#departmentNum").val()=="[[${studentCommand.departmentNum}]]"){
	               $("#studentNum").val("[[${studentCommand.studentNum}]]");
	               return false;
	            }
	        },
	      error : function(){
	         alert('에러');
	         return;
	      }
	   });
	};

</script>
</head>
<body>
학생 수정 <br />
<form action="studentModify" id="frm" name="frm" method="post" th:object="${studentCommand}">
<table>
<tr><th>학생번호</th><td><input type="text" name="studentNum" id="studentNum" readonly="readonly" th:value="${studentCommand.studentNum}"/>
<span th:if="${#fields.hasErrors('studentNum')}" th:errors="*{studentNum}"></span></td></tr>
<tr><th>학과번호</th><td>
<select id="departmentNum" name="departmentNum" oninput="selectDepNum()" th:value="${studentCommand.departmentNum}">
	<th:block th:each = "aaa, idx : ${list}">
		<option th:value="${aaa.departmentNum}" th:selected= "${aaa.departmentNum} == ${studentCommand.departmentNum}">[[${aaa.departmentName}]]</option>
	</th:block>
</select>
<span th:if="${#fields.hasErrors('departmentNum')}" th:errors="*{departmentNum}"></span></td></tr>
<tr><th>아이디</th><td><input type="text" name="studentId" id="studentId" readonly="readonly" th:value="${studentCommand.studentId}" />
<span th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}"></span></td></tr>
<tr><th>학생이름</th><td><input type="text" name="studentName" id="studentName" th:value="${studentCommand.studentName}" />
<span th:if="${#fields.hasErrors('studentName')}" th:errors="*{studentName}"></span></td></tr>
<tr><th>학생연락처</th><td><input type="tel" name="studentPhone" id="studentPhone" th:value="${studentCommand.studentPhone}" />
<span th:if="${#fields.hasErrors('studentPhone')}" th:errors="*{studentPhone}"></span></td></tr>
<tr><th>학생이메일</th><td><input type="email" name="studentEmail" id="studentEmail" th:value="${studentCommand.studentEmail}" />
<span id = "emailCheckModify"></span>
<span th:if="${#fields.hasErrors('studentEmail')}" th:errors="*{studentEmail}"></span></td></tr>
<tr><th colspan="2"><input type="submit" value="완료"/></th></tr>
</table>
<input type="hidden" id = "studentPw" name="studentPw" value="123456" /><br />
<input type="hidden" id = "studentPwCon" name="studentPwCon" value="123456" /><br />
</form>
</body>
</html>