<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
학생 리스트<br />
학생 총 인원 : [[${count}]]
<table border = 1 width = "600">
<tr><th>학생번호</th><th>학생 이름</th><th> 학생 아이디</th></tr>
<th:block th:each="dto, idx : ${list}">
	<tr>
	<th><a th:href="@{studentInfo(num=${dto.studentNum})}">[[${dto.studentNum}]]</a></th>
	<th><a th:href="@{studentInfo(num=${dto.studentNum})}">[[${dto.studentName}]]</a></th>
	<th>[[${dto.studentId}]]</th>
	</tr>
</th:block>
	<tr>
		<th colspan="6" >
			<th:block th:if="${page <= 1 }">
			[이전]
			</th:block>
			<th:block th:if ="${page > 1 }">
			<a th:href="@{studentList(page=${page - 1 })}">[이전]</a>
			</th:block>
			
			<th:block th:each="i : ${#numbers.sequence(startPage, endPage)}">
			[ <a th:href="@{studentList(page=${i })}">[[${i }]]</a> ]
 			</th:block>
 			
 			<th:block th:if ="${page < maxPage }">
 			<a th:href="@{studentList(page=${page + 1 })}">[이후]</a>
 			</th:block>
 			<th:block th:if ="${page >= maxPage }">
 			[이후]
 			</th:block>
		</th>
	</tr>
</table>
<a href="studentInsert">추가</a>
</body>
</html>