<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
학생 수정 <br />
<form action="studentModify" id="frm" name="frm" method="post">
<table>
<tr><th>학생번호</th><td><input type="text" name="studentNum" id="studentNum" readonly="readonly" th:value="${dto.studentNum}"/></td></tr>
<tr><th>학과번호</th><td>
<select id="departmentNum" name="departmentNum" th:object="${dto.departmentNum}" th:value="${dto.departmentNum}">
	<th:block th:each = "aaa, idx : ${list}">
		<option th:value="${aaa.departmentNum}">[[${aaa.departmentName}]]</option>
	</th:block>
</select></td></tr>
<tr><th>아이디</th><td><input type="text" name="studentId" id="studentId" th:value="${dto.studentId}" /></td></tr>
<tr><th>비밀번호</th><td><input type="password" name="studentPw" id="studentPw" th:value="${dto.studentPw}"/></td></tr>
<tr><th>학생이름</th><td><input type="text" name="studentName" id="studentName" th:value="${dto.studentName}" /></td></tr>
<tr><th>학생연락처</th><td><input type="tel" name="studentPhone" id="studentPhone" th:value="${dto.studentPhone}" /></td></tr>
<tr><th>학생이메일</th><td><input type="email" name="studentEmail" id="studentEmail" th:value="${dto.studentEmail}" /></td></tr>
<tr><th colspan="2"><input type="submit" value="완료"/></th></tr>
</table>
</form>
</body>
</html>