<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
학생추가<br />
<form action="studentInsert" id="frm" name="frm" method="post">
<table>
<tr><th>학생번호</th><td><input type="text" name="studentNum" id="studentNum" readonly="readonly" /></td></tr>
<tr><th>학과번호</th><td><input type="text" name="departmentNum" id="departmentNum"  /></td></tr>
<tr><th>학생아이디</th><td><input type="text" name="studentId" id="studentId" /></td></tr>
<tr><th>학생비밀번호</th><td><input type="password" name="studentPw" id="studentPw" /></td></tr>
<tr><th>학생명</th><td><input type="text" name="studentName" id="studentName"  /></td></tr>
<tr><th>학생연락처</th><td><input type="tel" name="studentPhone" id="studentPhone"  /></td></tr>
<tr><th>학생이메일</th><td><input type="email" name="studentEmail" id="studentEmail"  /></td></tr>
<tr><th colspan="2"><input type="submit" value="완료"/></th></tr>
</table>
</form>
</body>
</html>