<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
상세정보쓰<br />
과목번호 : [[${subjectCommand.subjectNum}]]<br />
과목명 : [[${subjectCommand.subjectName}]]<br />
과목제목 : [[${subjectCommand.subjectTitle}]]<br />
과목내용 : [[${subjectCommand.subjectContent}]]<br />
<a th:href="@{subjectUpdate(num=${subjectCommand.subjectNum})}">수정</a>
<a th:href="@{subjectDelete(num=${subjectCommand.subjectNum})}">삭제</a>
<a href="subjectList">과목리스트로갈까여?</a>
</body>
</html>