<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
수정창<br />
<form action="subjectModify" id="frm" name="frm" method="post">
과목 번호 : <input type="text" id="subjectNum" name="subjectNum" th:value="${dto.subjectNum}" readonly="readonly"/><br/>
과목명 : <input type="text" id="subjectName" name="subjectName" th:value="${dto.subjectName}"/><br/>
과목 제목 : <input type="text"  id="subjectTitle" name="subjectTitle" th:value="${dto.subjectTitle}"/><br/>
과목 내용 : <textarea rows="6" id="subjectContent" name="subjectContent" th:value="${dto.subjectContent}">[[${dto.subjectContent}]]</textarea><br />
<input type="submit" value="수정하기"/>
</form>
</body>
</html>