<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#leftMenu {
    float:left;
    margin-right:50px;
    height : 500px;
}
#MemberInfo {
	float:left;
	padding:15px;
	padding-left:50px;
	border-left:1px solid gray;
	height : 500px;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>
</head>
<body>
<div id="leftMenu">
	<ul>
		<li><a href="memberDetail">내 정보 보기</a></li>
		<li><a href="memberPw">내 정보 수정</a></li>
		<li><a href="memberPwForm">비밀번호 수정</a></li>
		<li><a href="memberUserDel">회원 탈퇴</a></li>
	</ul>
</div>

<div id ="MemberInfo">
<form action="memberPassModify" method = "post" name = "frm" id = "frm">
현재 비밀번호 : <input type="password" name="memPw" id = "memPw"/>
<span th:if="${err_pw != null}" th:text="${err_pw}" style="color:red"></span> <br />
바꿀 비밀번호 : <input type="password" name="newMemPw" id = "newMemPw"/> <br />
비밀번호 확인 : <input type="password" name="newMemPwCon" id = "newMemPwCon"/>
<span th:if="${err_pwCon != null}" th:text="${err_pwCon}" style="color:red"></span><br />
<input type="submit" value="비밀번호 변경하기" />
</form>
</div>
</body>
</html>