<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:if="${session.authInfo == null}">
	<form action="/login/loginPro" name="frm" id="frm" method="post" th:object="${loginCommand}">
	<table border="1">
	<tr><td colspan=3>
		<input type="checkbox" name = "autoLogin" />자동 로그인 &nbsp; &nbsp; &nbsp;
		<input type="checkbox" name = "idStore" />아이디 저장
	</td>
	</tr>
	<tr>
		<td>아이디</td> 
		<td><input type="text" name="userId" id="userId" placeholder="아이디입력" /><br />
		<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" style="color:red"></span>
		</td>
		<td rowspan=2>
			<input type="submit" value="로그인" width="80" height="80" id="submit"/>
		</td></tr>
	<tr>
		<td>비밀번호</td>
		<td>
		<input type = "password" name = "userPw" id="userPw" placeholder="비밀번호"><br />
		<span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" style="color:red"></span>
		</td></tr>
	<tr><td colspan=3>
		<a href="/register/agree">회원가입</a> &nbsp; 
		<a href="/help/findId">아이디 찾기</a> &nbsp; 
		<a href="/help/findPassword">비밀번호 찾기</a> &nbsp;
		</td></tr>
	</table>
	</form>
	</th:block>
	<th:block th:if="${session.authInfo != null}">
	<a href="/subject/subjectList">과목 정보</a>
	<span th:switch="${session.authInfo.grade}">
		<span th:case="prof">
			<a href="/major/majorList">학과 정보</a>
			<a href="/professor/professorList">교수 정보</a>
			<a href="/profpage/profDetail">교수마이페이지</a>
			<a href="/profsubject/profsubjectList">교수 과목</a>
		</span>
		<span th:case="stu">
			<a href="/student/studentList">학생 정보</a>
			<a href="/stupage/stuDetail">학생마이페이지</a>
			<a href="/courses/courseWishList">수강신청을해보자</a>
		</span>
	</span>
	<a href = "/login/logout">로그아웃</a>
	</th:block>
</html>