<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#empEmail").keyup(function(){
		$.ajax({
			type : "post",
			url : "emailCheckModify",
			dataType : "text",
			data : {"empEmail": $("#empEmail").val(),"empId":"[[${employeeCommand.empId}]]"},
			success: function(result) {
				$("#emailCheckModify").html(result);
				if(result == "사용 가능한 email 입니다."){
					$("#emailCheckModify").css("color", "blue");
				}else{
					$("#emailCheckModify").css("color", "red");
				}
			},
			error : function() {
				alert('에러');
				return;
			}
		});
	});
});
</script>
	
<body>
<form action="empUpdate" method="post" th:object="${employeeCommand}">
<input type="hidden" name="Id" th:value="${employeeCommand.empId}" /><br />
수정페이지 <br />
아이디 :  <input type="text" name="empId" id="empId"
			th:value="${employeeCommand.empId}" readonly = "readonly"/><br />
이름 : <input type="text" name="empName" 
			th:value="${employeeCommand.empName}" required = "required"/><br />
주소 : <input type="text" name="empAddr" 
			th:value="${employeeCommand.empAddr}" required = "required"/><br />
핸드폰번호 : <input type="text" name="empPhone" 
			th:value="${employeeCommand.empPhone}" required = "required"/><br />
이메일 : <input type="email" name="empEmail" id = "empEmail"
			th:value="${employeeCommand.empEmail}" required = "required"/>
<span id = "emailCheckModify"></span><br>
비밀번호 : <input type="password" name="empPw" required = "required"/>
<span th:if="${#fields.hasErrors('empPw')}" th:errors="*{empPw}" style="color:red"></span><br />
<input type="submit" value="수정완료"/>
</form> 
</body>
</html>