<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#leftMenu {
    float:left;
    margin-right:50px;
    height : 500px;
}
#GoodsInfo {
	float:left;
	padding:15px;
	padding-left:50px;
	border-left:1px solid gray;
	height : 500px;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>
</head>
<body>
<div id="leftMenu">
	<ul>
		<li><a href="goodsList">상품리스트</a></li>
		<li><a href="goodsRegist">상품등록</a></li>
		<li><a href="goodsIpgoList">상품 입고 현황</a></li>
		<li><a href="goodsIpgo">상품입고</a></li>
	</ul>
</div>

<div id ="GoodsInfo">
<h2>상품목록쓰</h2>
<p>
<table width="600">
	<tr><th>
	<form action="goodsList" method="get">
		상품명 : <input type="search" name="goodsWord" size="50"/>
			<input type="submit" value="검색" />
	</form>
	</th></tr>
</table>
</p>
<form action="goodsDels" method="post">
<table border=1 width="600">
	<tr>
		<th colspan="5">상품 리스트</th>
		<th width="100">상품 개수 : [[${count}]]</th>
	</tr>
	<tr>
		<th>번호</th><th>상품번호</th><th>상품이름</th><th>상품가격</th><th>조회수</th>
		<th><input type="submit" value="삭제" /></th>
	</tr>
	<th:block th:each = "goodsCommand, idx :${list}">
	<tr>
		<th>[[${idx.count}]]</th>
		<th><a th:href="|goodsDetail/${goodsCommand.goodsNum}|">[[${goodsCommand.goodsNum}]]</a></th>
	    <th>[[${goodsCommand.goodsName}]]</th>
	    <th>[[${goodsCommand.goodsPrice}]]</th>
	    <th>[[${goodsCommand.visitCount}]]</th>
	    <th><input type="checkbox" th:value="${goodsCommand.goodsNum}" name="delete"></th>
	</tr>
	</th:block>
	<tr>
		<th colspan="5" >
			<th:block th:if="${page <= 1 }">
			[이전]
			</th:block>
			<th:block th:if ="${page > 1 }">
			<a th:href="@{goodsList(page=${page - 1 },goodsWord=${goodsWord})}">[이전]</a>
			</th:block>
			
			<th:block th:each="i : ${#numbers.sequence(startPage, endPage)}">
			[ <a th:href="@{goodsList(page=${i },goodsWord=${goodsWord})}">[[${i }]]</a> ]
 			</th:block>
 			
 			<th:block th:if ="${page < maxPage }">
 			<a th:href="@{goodsList(page=${page + 1 },goodsWord=${goodsWord})}">[이후]</a>
 			</th:block>
 			<th:block th:if ="${page >= maxPage }">
 			[이후]
 			</th:block>
		</th>
	</tr>
</table>
</form>
<a href = "goodsRegist">상품등록</a>
</div>
</body>
</html>