<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
제품상세페이지<br />
제품번호 : [[${dto.goodsNum}]] <br />
제품이름 : [[${dto.goodsName}]] <br />
제품가격 : [[${dto.goodsPrice}]] <br />
제조일 : <span th:text="${#dates.format(dto.goodsDate, 'yyyy-MM-dd') }"></span> <br />
제품설명 : [[${dto.goodsContent}]] <br />
수량 : [[${dto.goodsQty}]] <br />
제조사 : [[${dto.goodsCompany}]] <br />
<a th:href="@{goodsUpdate(num=${dto.goodsNum})}">수정</a>
<a th:href="@{goodsDel(num=${dto.goodsNum})}" >삭제</a>
<a href = "goodsList">상품리스트</a>
</body>
</html>