<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "kosaShoppingMall.mapper.MemberMapper">

<delete id="memberDels" parameterType="hashMap">
	delete from member where member_num in
	<foreach collection="deletes" item="memNum" index="index" open="(" close=")" separator=",">
	 #{memNum}
	</foreach>
</delete>

<delete id="memberDelete" parameterType="String">
delete from member where member_num = #{memNum}
</delete>

<update id="memberUpdate" parameterType="kosaShoppingMall.domain.MemberDTO">
	update member set member_num = #{memNum}, member_id = #{memId}, member_pw = #{memPw}, 
	member_name = #{memName}, member_addr = #{memAddr}, member_regist = #{memRegiDate}, 
	gender = #{memGender}, member_phone = #{memPhone}, member_birth = #{memBirth}, 
	member_email = #{memEmail} where member_num = #{memNum}
</update>

<select id="selectOne" parameterType="String" resultType="kosaShoppingMall.domain.MemberDTO">
select member_num memNum, member_id memId, member_pw memPw, 
member_name memName, member_addr memAddr, member_regist memRegiDate, 
gender memGender, member_phone memPhone, member_birth memBirth, 
member_email memEmail from member where member_num = #{memNum}
</select>

<select id="selectAll" resultType="kosaShoppingMall.domain.MemberDTO">
select member_num memNum, member_id memId, member_pw memPw, 
member_name memName, member_addr memAddr, member_regist memRegiDate, 
gender memGender, member_phone memPhone, member_birth memBirth, member_email memEmail from member
</select>

<insert id="memberInsert" parameterType="kosaShoppingMall.domain.MemberDTO">
	insert into member( member_num, member_id, member_pw, member_name, member_addr, member_regist, gender, member_phone, member_birth, member_email ) values 
	(#{memNum}, #{memId}, #{memPw}, #{memName}, #{memAddr}, #{memRegiDate}, #{memGender}, #{memPhone}, #{memBirth}, #{memEmail} )
</insert>

<select id = "numberGenerate" resultType="string">
select concat('kosa', nvl(max(substr(member_num,5)),100000) + 1) from member
</select>

</mapper>