<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
수강신청리스트페이지입니다.<br />
<form action="courseCancel" id="frm" name="frm" method="post">
<table border = 1 width = "600">
<tr><th>과목명</th><th>교수명</th>
<th><input type="submit" value="수강취소"></th></tr>
<th:block th:each="dto, idx : ${list}">
	<tr>
	<th>[[${dto.subjectName}]]</th>
	<th>[[${dto.professorName}]]</th>
	<th><input type="checkbox" name="cancel" 
			th:value="${dto.subjectNum}+'`'+${dto.professorNum}+'`'+${dto.studentNum}"/></th>
	</tr>
</th:block>
</table>
</form>
<a href = "coursesCheck">수강신청해볼랭?</a>
<a href="/">메인</a>
</body>
</html>