<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "springBootTest2.mapper.EmpLibMapper">

<update id="empLibUpdate" parameterType="springBootTest2.domain.EmpLibDTO">
	update emp_library
	set lib_writer = #{libWriter}, lib_subject = #{libSubject},
	    lib_content = #{libContent}, ip_addr = #{ipAddr}, emp_num = #{empNum}, original_file_name = #{originalFileName}, store_file_name= #{storeFileName}, file_size = #{fileSize}
	where lib_num = #{libNum}
</update>

<delete id="empLibDelete" parameterType="Integer">
delete from emp_library where lib_num = #{libNum}
</delete>

<select id="selectOne" parameterType="Integer" resultType="springBootTest2.domain.EmpLibDTO">
select lib_num libNum, lib_writer libWriter, lib_subject libSubject, lib_content libContent, 
   ip_addr ipAddr, lib_pw libPw, emp_num empNum, original_file_name originalFileName, store_file_name storeFileName, file_size fileSize
   from emp_library where lib_num = #{libNum}
</select>

<select id="selectAll" resultType="springBootTest2.domain.EmpLibDTO">
   select lib_num libNum, lib_writer libWriter, lib_subject libSubject, lib_content libContent, 
   ip_addr ipAddr, lib_pw libPw, emp_num empNum, original_file_name originalFileName, store_file_name storeFileName, file_size fileSize
   from emp_library
</select>

<insert id="empLibInsert" parameterType="springBootTest2.domain.EmpLibDTO">
insert into emp_library(lib_num, lib_writer, lib_subject, lib_content, ip_addr, lib_pw, emp_num, original_file_name, store_file_name, file_size)
values (seq_num2.nextval, #{libWriter}, #{libSubject}, #{libContent}, #{ipAddr}, #{libPw}, #{empNum}, #{originalFileName}, #{storeFileName}, #{fileSize})
</insert>


<select id = "empnumGenerate" resultType="Integer" parameterType="springBootTest2.domain.EmpLibDTO">
select emp_num empNum from employees where emp_id = #{empId}
</select>

</mapper>