<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "school.mapper.LoginMapper">

<select id="findId" parameterType="String" resultType="AuthInfo">
select professor_id userId from professor where lower(professor_email) = lower(#{email})
union
select student_id userId from student where lower(student_email) = lower(#{email})
</select>

<select id="emailSelect"  parameterType="string" resultType="string">
	select professor_Email from professor
	where professor_id = #{professorId}
	union 
	select student_email from student
	where student_id = #{studentId}
</select>

<select id="loginSelect" parameterType="string" resultType="AuthInfo">
select student_id userId, student_pw userPw, 'stu' grade, student_num userNum from student 
where student_id = #{userId}
union 
select professor_id, professor_pw, 'prof', professor_num from professor where professor_id = #{userId}
</select>

</mapper>