<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "school.mapper.ProfpageMapper">

<select id="selectDepartment" resultType="MajorDTO">
select department_num departmentNum, department_name departmentName from department
</select>

<select id="selectOne" parameterType="String" resultType="ProfessorDTO">
select p.professor_num professorNum, p.department_num departmentNum, d.department_name departmentName, p.professor_id professorId, 
p.professor_pw professorPw, p.professor_name professorName, p.professor_phone professorPhone, p.professor_email professorEmail from professor p, department d
where p.professor_id = #{professorId} and p.department_num = d.department_num
</select>

<update id="profUpdate" parameterType="ProfessorDTO">
update professor set professor_num =#{professorNum}, department_num=#{departmentNum}, professor_id =#{professorId}, 
professor_name =#{professorName}, professor_phone =#{professorPhone}, professor_email =#{professorEmail}
where professor_num = #{professorNum}
</update>

<update id="updatePassword" parameterType="ProfessorDTO">
update professor set professor_pw = #{professorPw} where professor_id = #{professorId}
</update>

</mapper>