<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "school.mapper.ProfessorMapper">

<delete id="professorDelete" parameterType="String">
delete from professor where professor_num = #{professorNum}
</delete>

<update id="professorUpdate" parameterType="ProfessorDTO">
update professor set professor_num =#{professorNum}, department_num=#{departmentNum}, professor_id =#{professorId}, 
professor_pw=#{professorPw}, professor_name =#{professorName}, professor_phone =#{professorPhone}, professor_email =#{professorEmail}
</update>

<select id="selectOne" resultType="ProfessorDTO" parameterType="String">
select professor_num professorNum, department_num departmentNum, professor_id professorId, 
professor_pw professorPw, professor_name professorName, professor_phone professorPhone, professor_email professorEmail from professor
where professor_num = #{professorNum}
</select>

<select id="professorCount" resultType="int">
	select count(*) from professor
</select>

<select id="selectAll" resultType="ProfessorDTO" parameterType="StartEndPageDTO">
select * from
(select rownum rn, professor_num professorNum, department_num departmentNum, professor_id professorId, 
professor_pw professorPw, professor_name professorName, professor_phone professorPhone, professor_email professorEmail from professor)
where rn between #{startRow} and #{endRow}
</select>

<insert id="professorInsert" parameterType="ProfessorDTO">
insert into professor (professor_num, department_num, professor_id, 
professor_pw, professor_name, professor_phone, professor_email) values 
(#{professorNum}, #{departmentNum}, #{professorId}, #{professorPw}, #{professorName},
#{professorPhone}, #{professorEmail})
</insert>

<select id="selectDepartment" resultType="MajorDTO">
select department_num departmentNum, department_name departmentName from department
</select>

<select id="autoNum" resultType="String">
select concat('tea_', nvl(max(substr(professor_num, 5)), 1000000)+1) from professor
</select>
</mapper>