<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "school.mapper.SubjectMapper">
<select id="subjectCount" resultType="int">
	select count(*) from subject
</select>

<delete id="subjectDelete" parameterType="String">
delete from subject where subject_num = #{sunjectNum}
</delete>

<update id="subjectUpdate" parameterType="SubjectDTO">
update subject set subject_num = #{subjectNum}, subject_name=#{subjectName}, 
subject_title=#{subjectTitle}, subject_content=#{subjectContent} where subject_num = #{subjectNum} 
</update>

<select id="selectOne" resultType="SubjectDTO" parameterType="String">
select subject_num subjectNum, subject_name subjectName, subject_title subjectTitle, subject_content subjectContent from subject
where subject_num = #{subjectNum}
</select>

<select id="selectAll" resultType="SubjectDTO" parameterType="StartEndPageDTO">
select * from 
(select rownum rn, subject_num subjectNum, subject_name subjectName, subject_title subjectTitle, subject_content subjectContent from subject)
where rn between #{startRow} and #{endRow}
</select>

<select id="AutoNum" resultType="String">
select nvl(max(subject_num), 0) + 1 from subject
</select>

<insert id="subjectInsert" parameterType="SubjectDTO">
Insert into subject (subject_num, subject_name, subject_title, subject_content) 
values (#{subjectNum}, #{subjectName}, #{subjectTitle}, #{subjectContent})
</insert>

</mapper>