<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#professorEmail").keyup(function(){
		$.ajax({
			type : "post",
			url : "emailCheck",
			dataType : "text",
			data : {"professorEmail": $("#professorEmail").val()},
			success: function(result) {
				$("#emailCheck").html(result);
				if(result == "사용 가능한 email 입니다."){
					$("#emailCheck").css("color", "blue");
				}else{
					$("#emailCheck").css("color", "red");
				}
			},
			error : function() {
				alert('에러');
				return;
			}
		});
	});
	
	$("#professorId").keyup(function(){
		$.ajax({
			type : "post",
			url : "idCheck",
			dataType : "text",
			data : {"professorId": $("#professorId").val()},
			success: function(result) {
				$("#idCheck").html(result);
				if(result == "사용 가능한 id입니다."){
					$("#idCheck").css("color", "blue");
				}else{
					$("#idCheck").css("color", "red");
				}
			},
			error : function() {
				alert('에러');
				return;
			}
		});
	});
});
</script>
</head>
<body>
교수 추가 <br />
<form action="professorInsert" id="frm" name="frm" method="post" th:object="${professorCommand}">
<table>
<tr><th>교수번호</th><td><input type="text" name="professorNum" id="professorNum" readonly="readonly" th:value="${professorCommand.professorNum}"/>
<span th:if="${#fields.hasErrors('professorNum')}" th:errors="*{professorNum}"></span></td></tr>
<tr><th>학과번호</th><td>
<select id="departmentNum" name="departmentNum" th:object="${professorCommand.departmentNum}">
	<th:block th:each = "dto, idx : ${list}">
		<option th:value="${dto.departmentNum}">[[${dto.departmentName}]]</option>
	</th:block>
</select>
<span th:if="${#fields.hasErrors('departmentNum')}" th:errors="*{departmentNum}"></span>
</td></tr>
<tr><th>아이디</th><td><input type="text" name="professorId" id="professorId"/>
	<span id = "idCheck"></span>
	<span th:if="${#fields.hasErrors('professorId')}" th:errors="*{professorId}"></span></td></tr>
<tr><th>비밀번호</th><td><input type="password" name="professorPw" id="professorPw" />
	<span th:if="${#fields.hasErrors('professorPw')}" th:errors="*{professorPw}"></span></td></tr>
<tr><th>비밀번호확인</th><td><input type="password" name="professorPwCon" id="professorPwCon" />
	<span th:if="${#fields.hasErrors('professorPwCon')}" th:errors="*{professorPwCon}"></span></td></tr>
<tr><th>교수이름</th><td><input type="text" name="professorName" id="professorName"  />
	<span th:if="${#fields.hasErrors('professorName')}" th:errors="*{professorName}"></span></td></tr>
<tr><th>교수연락처</th><td><input type="tel" name="professorPhone" id="professortPhone"  />
	<span th:if="${#fields.hasErrors('professorPhone')}" th:errors="*{professorPhone}"></span></td></tr>
<tr><th>교수이메일</th><td><input type="email" name="professorEmail" id="professorEmail"/>
<span id = "emailCheck"></span>
	<span th:if="${#fields.hasErrors('professorEmail')}" th:errors="*{professorEmail}"></span></td></tr>
<tr><th colspan="2"><input type="submit" value="완료"/></th></tr>
</table>
</form>
</body>
</html>